<!-- this is an account page for the user -->

{% extends "layout.html" %}

{% block title %}
    Account Info
{% endblock %}

{% block main %}
    <h1>
        Account of {{ username }}
    </h1>
    <dl class="account">
        <dt class="labeling">Username:</dt>
        <dd class="labeling">{{ username }}</dd><br>
        <dt class="labeling">Active projects:</dt>
        <dd class="labeling">{{ count }}</dd><br>
        <dt class="labeling">Deleted projects:</dt>
        <dd class="labeling">{{ deleted }}</dd><br>
    <br>

{% endblock %}
