<!-- this is a page for list of projects for logged in user -->

{% extends "layout.html" %}

{% block title %}
    List of projects
{% endblock %}

{% block main %}
    <h1>
        List of projects
    </h1>
    <table class="list-table" style="margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th class="list-table">Project name</th>
                <th class="list-table">Address</th>
                <th class="list-table">Date last modified</th>
                <th class="list-table">Municipal authority</th>
                <th class="list-table">Latitude</th>
                <th class="list-table">Longitude</th>
                <th class="list-table">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for project in grouped %}
            <tr>
                <td class="list-table"><a href="/project/{{ project.project_id }}">{{ project.title }}</a></form></td>
                <td class="list-table">{{ project.address }}</td>
                <td class="list-table">{{ project.date_changed }}</td>
                <td class="list-table">{{ project.authority }}</td>
                <td class="list-table">{{ project.latitude }}</td>
                <td class="list-table">{{ project.longitude }}</td>
                <td class='form-wrap'>
                    <!-- forms to change the projects: view, change, delete -->
                    <form action="/project/{{ project.project_id }}" method="get">
                        <button class="btn btn-primary btn-pink" type="submit">
                            Change
                        </button>
                    </form>
                    <form id="deleteForm{{ project.project_id }}" action="/delete/{{ project.project_id }}" method="get">
                        <!-- deleting -->
                        <div>
                            <button  onclick="confirmDeletion('{{ project.project_id }}')" class="btn btn-primary btn-pink" type="button">Delete</button>
                        </div>
                    </form>
                    <script>
                        function confirmDeletion(projectId) {
                            if (confirm("Are you sure you want to delete this project?")) {
                                // Proceed with deletion
                                document.getElementById('deleteForm' + projectId).submit();
                                console.log("Deletion accomplished for project" + projectId);
                            } else {
                                // Cancel deletion
                                console.log("Deletion not succesful");
                            }
                        }
                    </script>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>


    <!-- developer's way to import mapbox -->
    <div id="map">
        [map displayed here]
    </div>

    <!-- JS script for Mapbox below -->
    <script>

        // TO MAKE THE MAP APPEAR YOU MUST
        // ADD YOUR ACCESS TOKEN FROM
        // https://account.mapbox.com
        mapboxgl.accessToken = 'pk.eyJ1IjoicG9saW5hc3RlcGFub3ZhIiwiYSI6ImNsemJ0cDgzMTA0Y2sybXB6MTQ4N3VjaWwifQ.ShNBoGFxf0azxHI63bDgjg';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/polinastepanova/clgsbvw0q001l01qm6uwhceyp/draft',
            center: [-98.35, 40], // starting position [lng, lat]. Note that lat must be set between -90 and 90
            zoom: 2 // starting zoom
        });

        {% for project in grouped %}

            // getting each project's lat lng
            var lat = Number("{{ project.latitude }}");
            var lng = Number("{{ project.longitude }}");

            // create geojson
            var geojson = {
                type: 'FeatureCollection',
                features: [
                        {
                            type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [lng, lat]
                        },
                        properties: {
                            title: 'Project',
                            description: 'Project Location'
                        }
                    }
                ]
            };

            // add the point to the map
            for (const feature of geojson.features) {
                const popup = new mapboxgl.Popup({ offset: 25, className: 'mapboxgl-popup'
            }).setHTML(`
                <div class="mapbox-popup">
                <a class="popup-style" href="/project/{{ project.project_id }}">{{ project.title }}</a>
                </div>
            `);

                // create a HTML element for each feature
                const el = document.createElement('div');
                el.className = 'marker mapboxgl.popup';

                // make a marker for each feature and add to the map
                new mapboxgl.Marker(el)
                    .setLngLat(feature.geometry.coordinates)
                    .setPopup(popup)
                    .addTo(map);
            }

        {% endfor %}
    </script>

{% endblock %}
