<!-- this is a page to start a new project for logged in user -->

{% extends "layout.html" %}

{% block title %}
    Add New Project
{% endblock %}

{% block main %}
    <h1>New project by {{ username }}</h1>

     <!-- adding project to the library -->
     <form action="/new" method="post">

        <!-- name of the project -->
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto" name="name" placeholder="Name of the project" type="text" style="width: 80%;">
        </div>

        <div class="mb-3">
            <!-- input for the Google libraries to autocomplete -->
            <input id="autocomplete" class="form-control mx-auto" name="address" placeholder="Address of the project" type="text" style="width: 80%;">
            <p class="little-note">Note: please input a precise street address (i.e. 101 Park Avenue, New York, NY, USA)</p>
        </div>

        <br>

        <!-- saving to user's library -->
        <div>
            <button class="btn btn-primary btn-pink" type="submit">Save and add to the library</button>
        </div>

    </form>

{% endblock %}
