<!-- this is a page for individual project -->
<!-- the template will be recycled for each project -->

{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h1><span class="colorhead">{{ title }}</span> by <span class="proj-link">{{ username }}</span></h1>
    <br>

    <!-- project parameters & information displayed here-->
    <dl class="sitespecs">
        <dt class="labeling">Address:</dt>
        <dd class="labeling">{{ projectinfo[0].address }}</dd><br>
        <dt class="labeling">Authority:</dt>
        <dd class="labeling">{{ authority }}</dd><br>
        <dt class="labeling">Latitude:</dt>
        <dd class="labeling">{{ lat }}</dd><br>
        <dt class="labeling">Longitude:</dt>
        <dd class="labeling">{{ lng }}</dd><br>
        <dt class="labeling">Area:</dt>
        <dd class="labeling">{{ projectinfo[0].area }}</dd><br>
        <dt class="labeling">Parcel:</dt>
        <dd class="labeling">{{ projectinfo[0].parcel }}</dd><br>
        <dt class="labeling">Zoning:</dt>
        <dd class="labeling">{{ projectinfo[0].zoning }}</dd><br>
        <dt class="labeling">Year Built:</dt>
        <dd class="labeling">{{ projectinfo[0].year }}</dd><br>
        <dt class="labeling">Lot Width (in ft):</dt>
        <dd class="labeling">{{ projectinfo[0].width }}</dd><br>
        <dt class="labeling">Lot Depth (in ft):</dt>
        <dd class="labeling">{{ projectinfo[0].depth }}</dd><br>
    </dl>
    <br>
    <p class="little-note">
        Note: area of the lot might not correspond with the displayed depth and width if in <a class="colormenu" href="https://portal.assessor.lacounty.gov/">Assessor's map portal</a>
        this lot is combined with other lots.
    </p>
    <!-- place for notes -->
    <div>
        <form action="/project/{{ project_id }}" method="post">
            <!-- notes -->
            <div class="mb-3">
                <label>Notes:</label>
                <input autocomplete="off" class="form-control mx-auto labeling notes" name="notes" placeholder="Project Notes" value="{{ notes[0].notes }}" type="text" style="width: 80%;">
            </div>

            <!-- saving to user's library -->
            <div>
                <button class="btn btn-primary btn-pink" type="submit">Save notes</button>
            </div>
    </div>

    <!-- visual parameters in text above are overlaid onto the map -->
    <br>
    <h3>
        Point of Interest Map
    </h3>
    <!-- developer's way to import mapbox -->
    <div id="mapok">

    </div>

    <!-- how can I plug in my own coordinates in the Javascript below -->
    <script>
        var title = "{{ title }}";
        var lat = Number("{{ lat }}");
        var lng = Number("{{ lng }}");

        // creating a geoJSON for the POI
        const geojson = {
            type: 'FeatureCollection',
            features: [
                {
                    type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: [lng, lat]
                    },
                    properties: {
                        title: 'Project',
                        description: 'Project Location'
                    }
                }
            ]
        };

        // TO MAKE THE MAP APPEAR YOU MUST
        // ADD YOUR ACCESS TOKEN FROM
        // https://account.mapbox.com
        mapboxgl.accessToken = 'pk.eyJ1IjoicG9saW5hc3RlcGFub3ZhIiwiYSI6ImNsemJ0cDgzMTA0Y2sybXB6MTQ4N3VjaWwifQ.ShNBoGFxf0azxHI63bDgjg';
        const map = new mapboxgl.Map({
            container: 'mapok', // container ID
            style: 'mapbox://styles/polinastepanova/clgsbvw0q001l01qm6uwhceyp/draft',
            center: [lng, lat], // starting position [lng, lat]. Note that lat must be set between -90 and 90
            zoom: 17 // starting zoom
        });

        // Create a marker and add it to the map.
        for (const feature of geojson.features) {
            // create a HTML element for each feature
            const el = document.createElement('div');
            el.className = 'marker';

            // make a marker for each feature and add to the map
            new mapboxgl.Marker(el).setLngLat(feature.geometry.coordinates).addTo(map);
        }

    </script>
    <br>
    <!-- space for 3d mapbox -->
    <h3>
        3D Map
    </h3>
    <div id="dmap">

    </div>
    <script>
        var dlat = Number("{{ lat }}");
        var dlng = Number("{{ lng }}");

        // creating a geoJSON for the POI
        const dgeojson = {
                type: 'FeatureCollection',
                features: [{
                    type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: [dlng, dlat]
                    },
                    properties: {
                        title: 'Project',
                        description: 'Project Location',
                        id: 'special'
                    }
                }]
            };

        mapboxgl.accessToken = 'pk.eyJ1IjoicG9saW5hc3RlcGFub3ZhIiwiYSI6ImNsemJ0cDgzMTA0Y2sybXB6MTQ4N3VjaWwifQ.ShNBoGFxf0azxHI63bDgjg';
        const dmap = new mapboxgl.Map({
            // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
            style: 'mapbox://styles/polinastepanova/clgsbvw0q001l01qm6uwhceyp/draft',
            center: [dlng, dlat],
            zoom: 16.5,
            pitch: 30,
            bearing: -17.6,
            container: 'dmap',
            antialias: true
        });

        dmap.on('style.load', () => {
            // Insert the layer beneath any symbol layer.
            const layers = dmap.getStyle().layers;
            const labelLayerId = layers.find(
                (layer) => layer.type === 'symbol' && layer.layout['text-field']
            ).id;

            // The 'building' layer in the Mapbox Streets
            // vector tileset contains building height data
            // from OpenStreetMap.
            dmap.addLayer(
                {
                    'id': 'add-3d-buildings',
                    'source': 'composite',
                    'source-layer': 'building',
                    'filter': ['==', 'extrude', 'true'],
                    'type': 'fill-extrusion',
                    'paint': {
                        'fill-extrusion-color': '#aaa',

                        // Use an 'interpolate' expression to
                        // add a smooth transition effect to
                        // the buildings as the user zooms in.
                        'fill-extrusion-height': [
                            'interpolate',
                            ['linear'],
                            ['zoom'],
                            15,
                            0,
                            15.05,
                            ['get', 'height']
                        ],
                        'fill-extrusion-base': [
                            'interpolate',
                            ['linear'],
                            ['zoom'],
                            15,
                            0,
                            15.05,
                            ['get', 'min_height']
                        ],
                        'fill-extrusion-opacity': 0.5
                    }
                },
                labelLayerId
            );
        });

        // Create a marker and add it to the map.
        for (const feature of dgeojson.features) {
                        // create a HTML element for each feature
                    const del = document.createElement('div');
                    del.className = 'dmarker';

                        // make a marker for each feature and add to the map
                    new mapboxgl.Marker(del).setLngLat(feature.geometry.coordinates).addTo(dmap);
                }
    </script>
    <br>
    <!-- iframe way to import mapbox -->
    <h3>
        City Map
    </h3>

    <iframe width='100%' height='200px' src="https://api.mapbox.com/styles/v1/polinastepanova/clgsbvw0q001l01qm6uwhceyp/draft.html?title=false&access_token=pk.eyJ1IjoicG9saW5hc3RlcGFub3ZhIiwiYSI6ImNsemJ0cDgzMTA0Y2sybXB6MTQ4N3VjaWwifQ.ShNBoGFxf0azxHI63bDgjg&zoomwheel=false#9/{{ lat }}/{{ lng }}"
    title="Monochrome" style="border:none;">
    </iframe>
    <br><br>
    <div>
        <h3>
            Change project
        </h3>
        <!-- form for modifying an existing project -->
        <form action="/project/{{ project_id }}" method="post">

            <!-- name of the project -->
            <div class="mb-3">
                <label>Title</label>
                <input autocomplete="off" class="form-control mx-auto labeling" name="name" placeholder="{{ title }}" value="{{ title }}" type="text" style="width: 80%;">
            </div>

            <div class="mb-3">
                <label>Address</label>
                <!-- input for the Google libraries to autocomplete -->
                <input id="autocomplete2" class="form-control mx-auto labeling" name="address" placeholder="{{ address }}" value="{{ address }}" type="text" style="width: 80%;">
            </div>

            <br>

            <!-- saving to user's library -->
            <div>
                <button class="btn btn-primary btn-pink" type="submit">Save and update the project</button>
            </div>
        </form>
    </div>
    <br><br>
    <div>
        <h3>
            Delete project
        </h3>
        <!-- form for deleting an existing project -->
        <!-- saving to user's library -->
        <form id="deleteForm" action="/delete/{{ project_id }}" method="get">
            <!-- saving to user's library -->
            <div>
                <button onclick="confirmDeletion()" class="btn btn-primary btn-pink" type="button">Delete {{ title }}</button>
            </div>
        </form>


        <script>
            function confirmDeletion() {
                if (confirm("Are you sure you want to delete this project?")) {
                    // Proceed with deletion
                    document.getElementById('deleteForm').submit();
                    console.log("Deletion accomplished");
                } else {
                    // Cancel deletion
                    console.log("Deletion not succesful");
                }
            }
        </script>
    </div>

{% endblock %}
