<!-- this is a homepage for the user -->

{% extends "layout.html" %}

{% block title %}
    User Home
{% endblock %}

{% block main %}
    <h1>
        Welcome back, {{ username }}!
    </h1>
    <table style="margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th>
                    <form action="/list" method="get">
                        <button class="btn btn-primary btn-pink homebutton" type="submit">List of Projects</button>
                    </form>
                </th>
                <th>
                    <form action="/new" method="get">
                        <button class="btn btn-primary btn-pink homebutton" type="submit">New Project</button>
                    </form>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <form action="/inquiry" method="get">
                        <button class="btn btn-primary btn-pink homebutton" type="submit">Site Inquiry</button>
                    </form>
                </td>
                <td>
                    <form action="/account" method="get">
                        <button class="btn btn-primary btn-pink homebutton" type="submit">Account Information</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <br>

{% endblock %}
